.listaCategorias {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
    background-color: rgb(29, 28, 28);
    min-height: 40px;
}

.listaCategorias li .link {
    color: white;
    text-decoration: none;
}

.contenedorProductos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 250px;
    flex-wrap: wrap;
    margin-bottom: 500px;
    gap: 30px;
}

.loading {
    width: 200px;
    margin: 0px auto;
}