.linkProducto {
    text-decoration: none;
    color: black;
}

.linkProducto .tarjetas {
    display: flex;
    flex-direction: column;
    width: 350px;
    min-height: 300px;
    background-color: rgba(80, 80, 80, 0.295);
    padding: 20px;
    border-radius: 8px;
    align-items: center;
}

.linkProducto .tarjetas .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.linkProducto .tarjetas .titulo h2 {
    font-size: 24px;
}

.linkProducto .tarjetas .Imagen {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
}

.linkProducto .tarjetas .Imagen img {
    width: 100%;
    min-height: 250px;
    object-fit: cover;
}